/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/forms_buttons.css ***!
  \*****************************************************************************/
.like_form button{
    font-size: 24px;
    width: auto;
	height: 40px;
	border-radius: 15px;
    border: none;
    vertical-align:middle;
    padding: 10px;
    padding-top: 0px;
}


.like_form button.liked {
    background: #DC143C;
    color: white;
}

.like_form button.liked svg {
    color: white;
}

.like_form button.not_liked {
    background: #A0A0A0;
}


.follow_form button {
    font-size: 24px;
    width: 150px;
	height: 40px;
	border-radius: 15px;
    border: none;
    vertical-align:middle;
    padding: 10px;
    padding-top: 0px;
}

.follow_form button.followed {
    background: #A0A0A0;
    color: white;

}

.follow_form button.not_followed {
    background: #DC143C;
}
/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/main.css ***!
  \********************************************************************/
body {
    width: 99%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.body_content {
    width: 80%;
    height: auto;
    margin-left: auto;
    padding-left: 1%;
}

ul {
    list-style-type: none;
}

aside {
    background: #fff;
    width: 20%;
    padding: 2%;
    height: 100vh;
    color: #DC143C;
    border-right: 5px solid #B22222;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
}

aside .menu {
    font-size: 20px;
    margin-top: 20px;
}

aside .menu a {
    text-decoration: none;
}

aside .menu a:hover {
    font-size: 25px;
}

aside .image-logo img {
    width: 150px;
    margin-left: 33px;
}


aside .logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

aside li {
    color: #DC143C;
}


.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
}

.list-pages {
	text-align: center;
	margin-top: 20px
}
.list-pages ul {
	padding: 0;
	list-style: none;
}
.list-pages ul li {
    padding-top: 0;
	display: inline-block;
}
.list-pages a {
	color: #000;
	font-size: 30px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 25px;
}

/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/news.css ***!
  \********************************************************************/
.news {
    width: 70%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
}

.news_user {
    color: black;
}

.news_user:hover {
    color: black;
}

/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/posts.css ***!
  \*********************************************************************/
.post {
    text-align: left;
    border-bottom: 1px solid;
    padding: 1%;
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.post_user_data {
    display: inline-block;
}

.post_user .post_user_img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
}

.post_user_link {
    font-size: 25px;
    color: black;
}

.followers_counter {
    font-size: 15px;
}

.followers_counter_user {
    font-size: 22px;
    font-weight: bold;
}

.post_user_data .post_created_date {
    font_size: 15px;
    font-weight: normal;
}

.post_img {
    height: 200px;
    margin: 10px;
    object-fit: cover;
}

.post_text {
    font-size:15px;
    font-family: 'Montserrat';
}

.post_content {
    margin-top: 5px;
}


